<web-app>

<servlet>
<servlet-name>session1</servlet-name>
<servlet-class>serv1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>session1</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>session2</servlet-name>
<servlet-class>serv2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>session2</servlet-name>
<url-pattern>/hello2</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>session3</servlet-name>
<servlet-class>serv3</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>session3</servlet-name>
<url-pattern>/hello3</url-pattern>
</servlet-mapping>

</web-app>
