<web-app>
<servlet>
	<servlet-name>InsertServlet</servlet-name>
	<servlet-class>insert</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>InsertServlet</servlet-name>
	<url-pattern>/Insert</url-pattern>
</servlet-mapping>
 

<servlet>
	<servlet-name>SelectServlet</servlet-name>
	<servlet-class>select</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SelectServlet</servlet-name>
	<url-pattern>/Select</url-pattern>
</servlet-mapping>
 

<servlet>
	<servlet-name>UpdateServlet</servlet-name>
	<servlet-class>update</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>UpdateServlet</servlet-name>
	<url-pattern>/Update</url-pattern>
</servlet-mapping>
 

<servlet>
	<servlet-name>DeleteServlet</servlet-name>
	<servlet-class>delete</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DeleteServlet</servlet-name>
	<url-pattern>/Delete</url-pattern>
</servlet-mapping>
 
</web-app>

