<web-app>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>menuservlet</servlet-name>
    <servlet-class>viewmenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuservlet</servlet-name>
    <url-pattern>/viewmenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartservlet</servlet-name>
    <servlet-class>displaycart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartservlet</servlet-name>
    <url-pattern>/displaycart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editservlet</servlet-name>
    <servlet-class>editcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editservlet</servlet-name>
    <url-pattern>/editcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>billservlet</servlet-name>
    <servlet-class>displaybill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>billservlet</servlet-name>
    <url-pattern>/displaybill</url-pattern>
  </servlet-mapping>
</web-app>
