<web-app>
	<servlet>
	<servlet-name>HelloServlet</servlet-name>
	<servlet-class>hello</servlet-class>
	</servlet>
<servlet-mapping>
	<servlet-name>HelloServlet</servlet-name>
	<url-pattern>/Welcome</url-pattern>
</servlet-mapping>
<welcome-file-list>  
   <welcome-file>first.html</welcome-file>  
  </welcome-file-list>  
</web-app>

