<web-app>

<servlet>
<servlet-name>gen</servlet-name>
<servlet-class>GenerateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>gen</servlet-name>
<url-pattern>/generate</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ins</servlet-name>
<servlet-class>CreateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ins</servlet-name>
<url-pattern>/insert</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>del</servlet-name>
<servlet-class>RemoveServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>del</servlet-name>
<url-pattern>/delete</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>upd</servlet-name>
<servlet-class>UpdateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>upd</servlet-name>
<url-pattern>/update</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>lis</servlet-name>
<servlet-class>DisplayServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>lis</servlet-name>
<url-pattern>/list</url-pattern>
</servlet-mapping>

</web-app>