<web-app>

<servlet>
<servlet-name>addCalculator</servlet-name>
<servlet-class>addServ</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addCalculator</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>subCalculator</servlet-name>
<servlet-class>subServ</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>subCalculator</servlet-name>
<url-pattern>/sub</url-pattern>
</servlet-mapping>


</web-app>
