<web-app>

<servlet>
<servlet-name>Calci</servlet-name>
<servlet-class>Server1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Calci</servlet-name>
<url-pattern>/welcome</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Calci1</servlet-name>
<servlet-class>Server2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Calci1</servlet-name>
<url-pattern>/welcome2</url-pattern>
</servlet-mapping>


</web-app>
